/* NOTE: Responsive from 600px and up --PV */

/* General Structure */
html,body {background-color: #FFF;}

html,
body,
.pure-g [class*="pure-u"] {font-family: 'Lato', sans-serif !important; font-weight:400 !important; -webkit-font-smoothing: antialiased;}



/* Typography */

strong {font-family: 'Lato', sans-serif; font-weight:700; -webkit-font-smoothing: antialiased; } /* Lato bold */

body, p {font-size:17px; color: #282828;}

p {line-height:1.3em; margin:0 0 10px 0;}

h1, h2, h3, h4, h5 {font-family: 'Lato', sans-serif; font-weight:900; -webkit-font-smoothing: antialiased; color:#666; margin:0 0 20px 0;} /* Lato black */

a, a:visited, a.active {color: #1aac9a; text-decoration: none;}
a:hover {color: #05c9af; text-decoration: underline;}



/* Header */

header {background-color: #f5f5f5; height:45px;}

.ramp-logo {padding:3px 0 0 0;}
.ramp-logo img {width:90%;}



/* Menu */

#nav-list {text-align: right;margin-top:4px;}
#nav-list li {display: inline-block; margin-top: 10px; border-left:1px solid #d7d7d7; line-height:5px;}
#nav-list li:last-child {margin-right:0;}
#nav-list li:first-child {border-left:none;}

#nav-list li a {font-weight:700; font-size:13px; text-decoration: none; height: 45px; padding:12px 10px; border-bottom: 2px solid transparent; vertical-align: middle; text-transform: uppercase;}

#nav-list li a, #nav-list li a:visited {color: #666;}
#nav-list li a:hover, #nav-list li a.active {color: #1aac9a; border-bottom: 2px solid #1aac9a;}

#nav-list li a i {font-size:16px; padding-left:10px;}



/* Content Areas */
.inner-area {max-width: 960px; margin: 0 auto; padding:0 10px;}

.app-content {margin:0 0 0 0;}

#wrap {padding-bottom: 60px;}



/* Feature Heading and Image */

.feature-heading {
	background-image:url('images/feature-img-bkg.jpg');
	background-repeat: no-repeat;
	background-position: 50% 50%;
	height:294px;
	background-size: cover;
  position: relative;
}

.ramp-intro {
  background-image:url('images/skater.png');
  background-repeat: no-repeat;
  height: 294px;
  background-position: 100% 60%;
  background-size: 65% auto;
}

.ramp-intro-text {padding: 55px 0 0 15px;}
.ramp-intro-text p {font-size:16px;}

.project-title {
  background-color: rgba(0,0,0,0.65);
  position:absolute;
  bottom:0;  
  width: 100%;
}

.project-title h1 {font-size:28px; color: #FFF; padding: 19px 0; margin: 0;}
.project-title h1 .titleup {font-size:34px;}
.project-title h1 .title-light {font-weight:300; font-size:31px;}



/* Decorations */

.decoration-bar {height:4px; max-width:100%; margin: 0 auto 40px auto;}
.decor1 {background-color: #1aac9a; height:4px;}
.decor2 {background-color: #fe8a71; height:4px;}
.decor3 {background-color: #3c8ab8; height:4px;}
.decor4 {background-color: #f8c767; height:4px;}



/* Homepage Content Area */

.homepage-content {margin:0 0 20px 0;}

.homepage-content-text {
  margin:10px 0;
  border-top: 1px solid #dadfe1;
  padding: 30px 0 0 0;
}

.homepage-content-text h3{font-size:22px; margin: 0 0 30px 0;}

.glossary-feature {
  margin: 30px 0 0 0;
  background-color: #ecf0f1;
  border-radius: 2px;
  padding: 20px;
}

.glossary-term {padding-right:18px; margin-bottom:20px;}

.glossary-feature h5 {font-style: italic; font-size:18px; font-weight:700;}
.glossary-feature p {font-size:15px;}



/* Footer */

footer {height:60px; background-color:#282828; color: #FFF; position: fixed; bottom: 0; width: 100%;}

.ramp-link {text-align: right; margin: 20px 0 0 0; font-size:14px;}
.ramp-link i {color: #fff; font-size:25px; margin-left:6px;}
.ramp-link a:hover {text-decoration: none;}

.lib-logo {margin:10px 0 0 0; width:200px; height: auto;}




/* Select Area */
.select-panel {}

.import_now {margin:15px 0; font-style: italic; color:#666;}

#intro_box {padding:0 15px 0 0;}



/* Select2 Skin Overrides */
.tpx-select2-container {width:100%; font-family:'Lato', sans-serif;}

.tpx-select2-container.select2-grey .select2-choice {
    background-color: #ecf0f1;
    border-color: #ecf0f1;
    box-shadow: none;
    color: #7eb9b2;
    border-radius: 0;
    height: 45px;
}

.tpx-select2-container.select2-grey .select2-choice:before {}

.tpx-select2-container .select2-choice > .select2-chosen {
    font-size: 19px;
    line-height: 45px;
    font-weight:400;
}

.tpx-select2-container.select2-grey.select2-container-active .select2-choice, 
.tpx-select2-container.select2-grey.select2-container-active .select2-choice .select2-arrow {border-color: #e4e6e7;}

.tpx-select2-container.select2-grey .select2-choice .select2-arrow {
    background-color: #ecf0f1;
    border-left-color: #e4e6e7;
    color: #1aac9a;
}

.tpx-select2-container .select2-choice .select2-arrow::before {font-size: 16px; line-height: 45px; opacity: 0.72; width:32px;}

.tpx-select2-drop .select2-search::after {
    font-size: 18px;
    left: 12px;
    opacity: 0.72;
    position: absolute;
    top: 10px;
    color: #7eb9b2;
}

.tpx-select2-drop.select2-blue .select2-search input {
    border-color: #e4e6e7;
}
.tpx-select2-drop .select2-search input {
    background-color: #fff;
    font-size: 17px;
    padding: 5px 7px 7px 30px;
    color: #666;
    font-family:'Lato', sans-serif;
}

.tpx-select2-drop.select2-blue {
    background-color: #FFF;
    border-color: #e4e6e7;
    border-radius: 0;
    font-family: 'Lato', sans-serif;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.12);
}

/* .select2-drop { max-height: 175px; overflow: auto;} */

.tpx-select2-drop.select2-blue .select2-results {color: #666; font-size:16px; }

.tpx-select2-drop.select2-blue .select2-highlighted {background-color: #dadfe1; border-radius:1px;}

.select2-results .select2-highlighted {color: #666;}

ul#select2-results-1 li:first-child,
ul#select2-results-1 li:nth-child(2) {display: none;}




/* Form Elements */

.pure-button:hover, .pure-button-hover, .pure-button:focus {background-image: none;}


/* All Items Button */
.all_items-btn-container {text-align: right; border-left:1px solid #dadfe1; margin-left: 20px; width: 160px;}

.viewall_button {background-color: #ecf0f1; color:#7eb9b2; height:47px; border-radius: 0;}

.viewall_button i {margin-right:6px;}

.viewall_button:hover, .viewall_button:focus {color:#1aac9a;}


/* Default Buttons */
.ramp-button {background-color: #ecf0f1; color:#7eb9b2; border-radius: 0;}
.ramp-button :hover, .ramp-button :focus {color:#1aac9a;}





/* Controls/Icons Area */

.controls-panel {margin:30px 0 0 0; text-align: center;}

#controls_panel_instructions {font-style: italic; color: #666; font-size:16px; margin:20px 0 0 0;}

.icon-button {width:120px; height:120px; padding:0; border-radius: 50%; font-size:0; color: transparent; background-repeat: no-repeat;  background-position: 50% 50%; background-size: auto auto;}

#ingest_worldcat {background-color: #fe8a71; margin-right:30px; border-right: 6px solid #fdd1c7; background-image:url('images/icon-logo-worldcat.png'); }
#ingest_viaf {background-color: #3c8ab8; margin-right:30px; border-right: 6px solid #bce4f8; background-image:url('images/icon-logo-viaf.png');}
#convert_to_wiki {background-color: #f8c767; border-right: 6px solid #fae0ae; background-image:url('images/icon-logo-wikipedia.png');}




/* Activity Area */
.actions-area {}




/* Other */
#validation {
    display: inline-block;
    height: 10px;
    width:10px;
    margin-left:.5%;
}





/*///////////////////////////////////////////
   // Media Queries 
   ////////////////////////////////////////////*/


/* ≥ 568px  .pure-u-sm-* */
@media screen and (min-width: 35.5em) {


}


/* ≥ 768px  .pure-u-md-* */
@media screen and (min-width: 48em) {

.ramp-logo img {width:auto;}

.ramp-intro {background-size: 60% auto;}

.ramp-intro-text {padding: 65px 0 0 30px;}

.all_items-btn-container {margin-left: 40px; width: 180px;}
 
}


/* ≥ 1024px     .pure-u-lg-* */
@media screen and (min-width: 64em) {

.inner-area {padding: 0;}

.ramp-intro {background-position: 100% 0; background-size: auto auto;}

.ramp-intro-text {padding: 80px 0 0 15px;}

.glossary-term {margin-bottom:0;}

#ingest_worldcat, #ingest_viaf {margin-right:50px; }


}



/* ≥ 1280px     .pure-u-xl-* */
@media screen and (min-width: 80em) {

.ramp-intro-text {padding: 80px 0 0 0;}
.ramp-intro-text p {font-size: 17px;}
.decoration-bar {max-width:960px;}



} /* end last responsive block */