/* NOTE: Responsive from 600px and up --PV */

/* General Structure */
html,body {background-color: #FFF;}

html,
body,
.pure-g [class*="pure-u"] {font-family: 'Lato', sans-serif !important; font-weight:400 !important; -webkit-font-smoothing: antialiased;}



/* Typography */

strong {font-family: 'Lato', sans-serif; font-weight:700; -webkit-font-smoothing: antialiased; } /* Lato bold */

body, p {font-size:16px; color: #333;}

p {line-height:1.3em; margin:0 0 10px 0;}

h1, h2, h3, h4, h5 {font-family: 'Lato', sans-serif; font-weight:900; -webkit-font-smoothing: antialiased; color:#666; margin:0 0 20px 0;} /* Lato black */

a, a:visited, a.active {color: #12776b; text-decoration: underline;}
a:hover {color: #31988b; text-decoration: underline;}



/* Header */

header {background-color: #f5f5f5; height:65px;}

.ramp-logo {padding:7px 0 0 0;}
.ramp-logo img {width:90%;}



/* Menu */

#nav-list {text-align: right;margin-top:4px;}
#nav-list li {display: inline-block; margin-top: 25px; border-left:1px solid #d7d7d7; line-height:5px;}
#nav-list li:last-child {margin-right:0;}
#nav-list li:first-child {border-left:none;}

#nav-list li a {font-weight:700; font-size:13px; text-decoration: none; height: 65px; padding:15px 10px; border-bottom: 2px solid transparent; vertical-align: middle; text-transform: uppercase;}

#nav-list li a, #nav-list li a:visited {color: #474747;}
#nav-list li a:hover, #nav-list li a.active {color: #12776b; border-bottom: 2px solid #16ac9a;}

#nav-list li a i {font-size:16px; padding-left:10px;}



/* Content Areas */
.inner-area {max-width: 960px; margin: 0 auto; padding:0 10px;}

.app-content {margin:0 0 0 0;}

#wrap {padding-bottom: 80px;}



/* Feature Heading and Image */

.feature-heading {
	background-image:url('images/feature-img-bkg.jpg');
	background-repeat: no-repeat;
	background-position: 50% 50%;
	height:260px;
	background-size: cover;
  position: relative;
}

.ramp-intro {
  /*background-image:url('images/skater.png');*/
  background-repeat: no-repeat;
  height: 260px;
  background-position: 100% 60%;
  background-size: 65% auto;
}

.ramp-intro-text {padding: 55px 0 0 15px;}
.ramp-intro-text p {font-size:16px;}

.project-title {
  background-color: rgba(0,0,0,0.65);
  position:absolute;
  bottom:0;  
  width: 100%;
}

.project-title h1 {font-size:28px; color: #FFF; padding: 19px 0; margin: 0;}
.project-title h1 .titleup {font-size:34px;}
.project-title h1 .title-light {font-weight:300; font-size:31px;}



/* Decorations */

.decoration-bar {height:4px; max-width:100%; margin: 0 auto 40px auto;}
.decor1 {background-color: #1aac9a; height:4px;}
.decor2 {background-color: #fe8a71; height:4px;}
.decor3 {background-color: #3c8ab8; height:4px;}
.decor4 {background-color: #f8c767; height:4px;}



/* Homepage Content Area */

.homepage-content {margin:0 0 20px 0;}

.homepage-content-text {
  margin:10px 0;
  border-top: 1px solid #CCC;
  padding: 30px 0 0 0;
}

.homepage-content-text h3{font-size:22px; margin: 0 0 30px 0;}

.glossary-feature {
  margin: 30px 0 0 0;
  background-color: #ecf0f1;
  border-radius: 2px;
  padding: 20px;
}

.glossary-term {padding-right:18px; margin-bottom:20px;}

.glossary-feature h5 {font-style: italic; font-size:18px; font-weight:700;}
.glossary-feature p {font-size:15px;}



/* Footer */

footer {height:60px; background-color:#282828; color: #FFF; /*position: fixed;*/ bottom: 0; width: 100%;}

.ramp-link {text-align: right; margin: 20px 0 0 0; font-size:14px;}
.ramp-link i {color: #FFF; font-size:25px; margin-left:6px;}
.ramp-link a {color: #FFF; text-decoration: none;}
.ramp-link a:hover {text-decoration: underline;}

.lib-logo {margin:10px 0 0 0; width:200px; height: auto;}




/* Select Area */
.select-panel {}

.import_now {margin:15px 0; font-style: italic; color:#565656}

#intro_box {padding:0 15px 0 0;}



/* Select2 Skin Overrides */
.tpx-select2-container {width:100%; font-family:'Lato', sans-serif;}

.tpx-select2-container.select2-grey .select2-choice {
    background-color: #ecf0f1;
    border-color: #ecf0f1;
    box-shadow: none;
    color: #12776b;
    border-radius: 0;
    height: 45px;
}

.tpx-select2-container.select2-grey .select2-choice:before {}

.tpx-select2-container .select2-choice > .select2-chosen {
    font-size: 19px;
    line-height: 45px;
    font-weight:400;
}

.tpx-select2-container.select2-grey.select2-container-active .select2-choice, 
.tpx-select2-container.select2-grey.select2-container-active .select2-choice .select2-arrow {border-color: #d5d5d5;}

.tpx-select2-container.select2-grey .select2-choice .select2-arrow {
    background-color: #ecf0f1;
    border-left-color: #d5d5d5;
    color: #12776b;
}

.tpx-select2-container .select2-choice .select2-arrow::before {font-size: 16px; line-height: 45px; opacity: 0.72; width:32px;}

.tpx-select2-drop .select2-search::after {
    font-size: 18px;
    left: 12px;
    opacity: 0.72;
    position: absolute;
    top: 10px;
    color: #12776b;
}

.tpx-select2-drop.select2-blue .select2-search input {
    border-color: #b5b5b5;
}
.tpx-select2-drop .select2-search input {
    background-color: #fff;
    font-size: 17px;
    padding: 5px 7px 7px 30px;
    color: #333;
    font-family:'Lato', sans-serif;
}

.tpx-select2-drop.select2-blue {
    background-color: #FFF;
    border-color: #e4e6e7;
    border-radius: 0;
    font-family: 'Lato', sans-serif;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.12);
}

/* .select2-drop { max-height: 175px; overflow: auto;} */

.tpx-select2-drop.select2-blue .select2-results {color: #333; font-size:16px; }

.tpx-select2-drop.select2-blue .select2-highlighted {background-color: #12776b; border-radius:1px;}

.select2-results .select2-highlighted {color: #FFF;}

ul#select2-results-1 li:first-child,
ul#select2-results-1 li:nth-child(2) {display: none;}

.select2-container.select2-container-disabled .select2-choice {cursor: not-allowed;}




/* Form Elements */

.pure-button:hover, .pure-button-hover, .pure-button:focus {background-image: none;}

button[disabled], html input[disabled] {cursor: not-allowed;}


/* All Items Button */
.all_items-btn-container {text-align: right; border-left:1px solid #CCC; margin-left: 20px; width: 160px;}

.viewall_button {background-color: #12776b; color:#FFF; height:47px; border-radius: 0;}

.viewall_button a{color:#FFF;}

.viewall_button i {margin-right:6px;}

.viewall_button:hover, .viewall_button:focus {color:#efefef;}
.viewall_button:hover a, .viewall_button:focus a {color:#efefef;}


/* Default Buttons */
.ramp-button {background-color: #dbdada; color:#333; border-radius: 0; margin: 15px 10px 15px 0;}
.ramp-button:hover, .ramp-button:focus {color:#000;}


/* Custom Buttons */
.ingest-ok, #save_eac, #get_chosen_wiki, #post_draft_wiki, #post_wiki {background-color: #12776b; color:#FFF;}

.ingest-ok:hover, .ingest-ok:focus,
#save_eac:hover, #save_eac:focus, 
#get_chosen_wiki:hover, #get_chosen_wiki:focus,
#post_draft_wiki:hover, #post_draft_wiki:focus,
#post_wiki:hover, #post_wiki:focus {color:#efefef;}


#skip_worldcat_chosen_subjects, #editor_readonly_button, #get_chosen_wiki_no_match, #searchwikipediabutton {background-color: #35a698; color:#FFF;}

#skip_worldcat_chosen_subjects:hover, #skip_worldcat_chosen_subjects:focus,
#editor_readonly_button:hover, #editor_readonly_button:focus,
#get_chosen_wiki_no_match:hover, #get_chosen_wiki_no_match:focus,
#searchwikipediabutton:hover, #searchwikipediabutton:focus {color:#efefef;}

#searchwikipediabutton {margin: 11px 10px 15px 0;}


/* Controls/Icons Area */

.controls-panel {margin:30px 0 0 0; text-align: center;}

#controls_panel_instructions {font-style: italic; color: #666; font-size:16px; margin:20px 0 0 0;}

.icon-button {width:120px; height:120px; padding:0; border-radius: 50%; font-size:0; color: transparent; background-repeat: no-repeat;  background-position: 50% 50%; background-size: auto auto;}

#ingest_worldcat {background-color: #fe8a71; margin-right:30px; border-right: 6px solid #fdd1c7; background-image:url('images/icon-logo-worldcat.png'); }
#ingest_viaf {background-color: #3c8ab8; margin-right:30px; border-right: 6px solid #bce4f8; background-image:url('images/icon-logo-viaf.png');}
#convert_to_wiki {background-color: #f8c767; border-right: 6px solid #fae0ae; background-image:url('images/icon-logo-wikipedia.png');}

.download-records {margin:1em 0 0 0; text-align: center;}



/* Record Title */
.recordtitle-bkg {
  background-image:url('images/feature-img-bkg.jpg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;  
  width: 100%;
}

.recordtitle {background-color: rgba(0,0,0,0.56);}

#record_entityName_header{margin:0; font-size:24px; color: #FFF; line-height:60px; font-weight:700; font-style: italic;}




/* Activity Area */
.actions-area {}

#form_viewport_area, #help_viewport_area {margin:30px 0 0 0;}

#flash_message, #form_viewport, .ace-editor-view {padding:0 23px 0 0;}

.instruction {font-size:20px;}

.user_help_text {margin:0 0 20px 0;}
.user_help_text i {font-size:20px; margin-left: 6px;}

.preview-link {display:inline; font-size:15px; font-style: italic; float:right; width:30%;}

.preview-link i {color: #565656; margin-right:6px;}

.user_help_form {
    font-size: 16px;
    line-height: 1.2em;
    color: #333;
}

.user_help_form input[type="checkbox"], .user_help_form input[type="radio"] {
    margin: 0 4px 12px 0;
    padding: 0;
}

#xml_buttons_container {margin: 15px 0;}

#validation_container > p {
    color: #333;
    font-size: 17px;
    font-style: italic;
}

#validation_container > #readonly_status {background-color: #ecf0f1;}

.input-label {
  display: inline-flex;
  margin: 0 0 12px;
  width: 60%;
  line-height: 1.35em;
}

.user_help_form_table tr#user_rel td {padding:20px 0;}

#user_rel .message {font-style: italic; font-weight:700; font-size:17px;}

.inline-select {border-radius:2px; border:1px solid #CCC; background-color: #FFF; margin: 0 0 0 10px;}

.inline-select option:hover, 
.inline-select option:focus,
.inline-select option:active,
.inline-select option:checked {background-color: #ecf0f1; color: #666;}


.ner_text {
    border: 1px solid #CCC;
    padding: 5px 0;
}

.cpf-entry {padding:0 0 10px 5px;}

.viaf-select-all {margin-left:5px;}

.ner_empty_add {background-color: transparent; color: #12776b; padding:10px 0;}

.add-row-plus {font-size: 20px; padding: 0 6px 0 0; color: #12776b;}

.ner_empty_rm.ramp-button { background-color: transparent;  border: none; color: #9a200d; font-style: italic; }

#plainText > span {
    vertical-align: top;
}

#manual_search_wikipedia {
  border: 1px solid #CCC;
  padding: 0.45em 1em;
  border-radius: 0;
}




/* Sidebar Area */
#help_viewport {padding:0 0 0 23px; border-left: 1px solid #dadfe1; }

.steps {font-style: italic; margin-left:10px; color: #666; font-weight:400; font-size: 16px;}

.help_container ul{list-style-type: square; list-style-position: inside; margin:0 0 20px 0; padding:0 0 15px 0;}

.help_container ul li {font-size:16px; margin: 0 0 10px 0; padding-left: 15px; text-indent: -15px;}






/* Pop up Windows - Overide jquery dialogs */

.ui-dialog {
  background: #fff none repeat scroll 0 0 !important;
  border: 1px solid #ecf0f1 !important;
  border-radius: 2px !important;
  color: #333 !important;    
  padding: 15px !important;
  font-family: 'Lato', sans-serif !important;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.12);
  font-size:16px !important;
}

.ui-dialog .ui-dialog-titlebar {
  padding:0 0 8px 0 !important;
  border-radius: 0 !important;
  background: transparent !important;
  border: none !important;
  border-bottom: 1px solid #CCC !important;
  color: #000 !important;
}



.ui-dialog .ui-dialog-content {padding: 10px 0 !important; }
.ui-dialog .ui-dialog-content p {font-size: 16px !important;}

.ui-dialog .ui-dialog-buttonpane {padding: 5px 0 !important; border-width: 0 !important; margin-top: 0 !important;}

.ui-button { color: #FFF !important; background:#12776b !important; border: none !important; border-radius: 0 !important; font-family: 'Lato', sans-serif !important; font-size:16px !important;}

.ui-dialog-titlebar-close {
  background: #dbdad9 !important;
  border: 1px solid #dbdad9 !important;
}


/* Validation, Messages */

#validation {
    display: inline-block;
    height: 10px;
    width:10px;
    margin-left:.5%;
}

.loader {
  color: #12776b;
  font-size:18px;
  font-style: italic;
  font-weight:400;
  font-family:'Lato', sans-serif;
}

.loader i {font-size:24px; margin-right:6px;}

.error-message {
  margin: 0 0 30px 0;
  border: 1px solid rgba(254,138,113,0.35);
  border-radius: 2px;
  padding: 8px 10px;
}
.error-message p {color: rgba(254,138,113,0.7); margin:0; font-style: italic;}

.success-message {
  margin: 0 0 30px 0;
  border: 1px solid #12776b;
  border-radius: 2px;
  padding: 8px 10px;
}
.success-message p {color: #12776b; margin:0; font-style: italic;}

.processing-message {
  margin: 0 0 30px 0;
  border: 1px solid #666;
  border-radius: 2px;
  padding: 8px 10px;
}
.processing-message p {color: #666; margin:0; font-style: italic;}






/*///////////////////////////////////////////
   // Media Queries 
   ////////////////////////////////////////////*/


/* ≥ 568px  .pure-u-sm-* */
@media screen and (min-width: 35.5em) {


}


/* ≥ 768px  .pure-u-md-* */
@media screen and (min-width: 48em) {

.ramp-logo img {width:auto;}

.ramp-intro {background-size: 60% auto;}

.ramp-intro-text {padding: 50px 0 0 30px;}

.all_items-btn-container {margin-left: 40px; width: 180px;}
 
}


/* ≥ 1024px     .pure-u-lg-* */
@media screen and (min-width: 64em) {

.inner-area {padding: 0;}

.ramp-intro {background-position: 100% 0; background-size: auto auto;}

.ramp-intro-text {padding: 50px 0 0 15px;}

.glossary-term {margin-bottom:0;}

#ingest_worldcat, #ingest_viaf {margin-right:50px; }


}



/* ≥ 1280px     .pure-u-xl-* */
@media screen and (min-width: 80em) {

.ramp-intro-text {padding: 50px 0 0 0;}

.decoration-bar {max-width:960px;}



} /* end last responsive block */